@charset "utf-8";
footer div div{
  width:300px;
  float: left;
  margin: auto;
  
}

footer{
  height: 150px;
  background-color: #E8AC16
}

footer div{
  color:#646464;
  background-color: aliceblue
}

footer div div ul{
  list-style: none;
}

fotter p{
  clear:both;
}