@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

a{text-decoration: none;
color: #000000;
}

@media only screen and (max-width:640px){
    li{
    list-style-type: none;
  }

  header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  #logo{
    float: left;
  }
  nav ul li{
    float: right;
  }

  main{
    clear: both;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  main a img{
    display: none;
  }

  footer div div{
    width:300px;
    float: left;
    margin: auto;

  }

  footer{
    height: 150px;
    background-color: #E8AC16
  }

  footer div{
    color:#646464;
    background-color: aliceblue
  }

  footer div div ul{
    list-style: none;
  }

  footer p{
    clear:both;
  }
}

@media only screen and (min-width:641px){
  
  li{
    list-style-type: none;
  }

  header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  #logo{
    float: left;
  }
  nav ul li{
    float: right;
  }

  main{
    clear: both;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  main a img{
    width: 640px;
  }

  footer div div{
    width:300px;
    float: left;
    margin: auto;

  }

  footer{
    height: 150px;
    background-color: #E8AC16
  }

  footer div{
    color:#646464;
    background-color: aliceblue;
  }

  footer div div ul{
    list-style: none;
  }

}