@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}


#headerInner{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

#mainPhoto{
  background-image: url(../../images/mainPhoto.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
}

#logo{
  float:left;
}

nav{
  float: right;
}

nav ul li{
  float: left;
}
nav ul li span{
  display: block;
  text-decoration: none;
  height: 50px;
  width: 150px;
  transition: ease all .3s;
  padding-top: 16px;
  line-height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border-radius: 60px;
  background-color: #63C0A2;
}